/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	/* font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #AE98FF; 
}

/* Changing the background color for the navigation bar */

/* .container-fluid{
	background-color:transparent
	}	*/

.landing{
	background-color:transparent
	}

.shop{
	background-color: #D3AFFF;
	}

.navbar {
	background-color: #ffffff;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;

