/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	/* font-family: Raleway, sans-serif; */
	font-family: Inter; "sans-serif";
	/* font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	background-color: #5B3FBF;
}

.corporate{text-align: left;}
/* Changing the background colour for the header */

header {
	background-color: #AE98FF; 
}

/* Changing the background color for the navigation bar */

/* .container-fluid{
	background-color:transparent
	}	*/

.landing{
	background-color: #AE98FF;
	}

.shop{
	background-color: #FAD734;
	text-align: center;
	}

.navbar {
	background-color: #FFFFFF;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.circlespics {
	text-align: center;
}

.paragraph {
	text-align: justify;	
}
.paragraph {

  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;	
}

.title {
	text-align: right;
	 padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;	
}
.aboutustitle {
	text-align: center;
}
.values {
	 padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;	
}

.shop2 {
text-align: center;
}
	
.bighero {
	background-color: #5B3FBF;
}

.smallhero {
		background-color: #5B3FBF;
}	
	
.btn-secondary{
	background-color: #EC408F;
	}	

.btn-primary{
	background-color: #EC408F;
	border: #EC408F;
	}	

.btn-danger{
	background-color: #EC408F;
	border: #EC408F;
	}	
	
	