/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	/* font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #AE98FF; 
}

/* Changing the background color for the navigation bar */

/* .container-fluid{
	background-color:transparent
	}	*/

.landing{
	background-color: #AE98FF;
	}

.shop{
	background-color: #AE98FF;
	}

.navbar {
	background-color: #ffffff;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

.products-wrapper{
	text-size-adjust: 100%;
    font-size: 16px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1;
    color: #2b2b2b;
    box-sizing: inherit;
    margin: 0;
    padding: 2.5vw;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}